body{
    background-image: url(../image/background.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.center-img{
    text-align: center;
}

.login-text{
    margin-top: 5%;
    color: white;
}

.logo-celso-lisboa{
    margin-top: 5%;
}