
body{
    background-image: url(../../image/background.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: -webkit-fill-available;
}

.tela-login {
    .center-img{
        text-align: center;
    }

    .login-text{
        margin-top: 6.4%;
        color: white;
        font-size: 1.3em;
    }

    .logo-celso-lisboa{
        margin-top: 8.8%;
    }

    nav.cursos{
        padding: 1.55% 19.5%;
    }

    #login-erro,
    #login-empty{
        margin: 3%;
        color: red;
        display: none;
        text-transform: uppercase;
    }   
}

nav.cursos{
    padding: 1.55% 19.5%;
}


