<section class="default-page">
	<div class="content">
		<div class="login">
			<header>
				<h1>Celso Lisboa</h1>
			</header>

			<article class="form">
				<h3> Login </h3>

				<form>			
					<input ngModel="usuario.email" type="email" placeholder="E-mail" name="email" id="email">
					<input ngModel="usuario.senha" type="password" placeholder="Senha" name="senha" id="senha">

					<button type="submit" name="action" ng-click="fazerlogin()">Acessar</button>
				</form>	

			</article>
		</div>	
	</div>
</section>	
