<div class="login">
  <div class="logo-wrapper">
    <img src="../../assets/images/logo_big.png" alt="Celso Lisboa">
  </div>

  <h1>Login</h1>
  
  <div class="login__error-message" *ngIf="errorMessage">
    <p>{{errorMessage}}</p>
  </div>
  
  <form class="login__form" (submit)="login(userEmail.value, userPassword.value)">
    <input type="text" #userEmail placeholder="Email">
    <input type="password" #userPassword placeholder="Senha">
    <!-- <button class="btn">Acessar</button> -->
    <app-button class="rounded" [text]="'Acessar'"></app-button>
  </form>
</div>