.login {
    color: #fff;
    margin: auto;
    max-width: 375px;
    padding: 6em 1.25em 2em;
    text-align: center;

    h1 {
        margin-top: 3em;
        margin-bottom: 1em;
        font-size: 1.25em;
        font-weight: 400;
    }

    &__form {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row wrap;

        & > * {
            flex: 0 0 100%;
            margin: 0.625em 0;
        }
    }

    &__error-message {
        background: rgba(rgb(124, 3, 3), 0.2);
        color: rgb(255, 91, 91);
        border-radius: 0.425em;
        font-size: 0.875em;
        padding: 0.125em 2em;
        margin: 0.625em 0;
    }

    @media screen and (max-width: 515px) {
        padding: 1.25em;

        .logo-wrapper {
            text-align: left;

            img {
                max-width: 4.625em;
            }
        }
    }
}