//FORMS, INPUTs AND BUTTONS


.input {
  border: solid 1px map_get($white, 1);
  height: 26px;
  width: auto;
  @include padding(5px,10px);
  color: map_get($white, 1);
  background: none;
  &.border-radius{
    @include border-radius(5px);
  }
}