// queries de css

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .login{
    margin-top:72px;
    width: 100%;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}

// Large devices (desktops, less than 1366px)
@media (max-width: 1365.98px) {
}

// Large devices (desktops, less than 1920px)
@media (max-width: 1919.98px) {
}

// Large devices (desktops, less than 1920px)
@media (min-width: 1920px) {
}