// importa todos os sass
@import "mixins/grid-mixins";
@import "mixins/flexbox";
@import "fonts";
@import "variables";

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(center);
  @include flexbox;
  .img_loading{
    height:180px;
    width: 180px;
  }
}