*{
    margin: 0;
    padding: 0;
}
:host{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
@import url('https://fonts.googleapis.com/css?family=Heebo');
body{
	display: block;
    position: relative;
}
.default-page{
	width: 100%;
    height: 100%;
    min-height: 568px;
    display: block;
    float: left;
    background: url('/assets/background.jpg') no-repeat top center;
    background-size: 100% 100%;
    font-family: 'Heebo', sans-serif;
}
.default-page .content{
    background: rgba(35,31,32,0.5);
    min-height: 568px;
    float: left;
    width: 100%;
    height: 100%;
}
@media (max-width: 980px){
    .default-page{        
        background-size: 360%;
    }     
}


