.logo{
    
    background-image: url('/assets/logo_big.png')
}

img{
    src: url('/assets/logo_big.png')
}  


/* 
 */
 @media (min-width: 768px) {
    .nav-item
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin:0 auto;
    }
    .navbar-toggle {
        z-index:3;
    }
  }


#cursoLabe,h5 {
    color: #fff;
}

@media (max-width: 768px) {
    #cursoLabe,h5 {
        display: none;
    }
}

app-add-curso,#btnCriar{
    z-index: 10;
    float: right;
}

