<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container col-lg-9">
  <a class="navbar-brand" routerLink="home">
    <span > <img src="/assets/logo_medium.png"></span>
  </a>
  
    
      <h5 id="cursoLabel" class="nav-item center" >Cursos <span class="sr-only">(current)</span></h5>
      
     
      <!-- <button name="btn-acessar right" id="btn-acessar" class="btn btn-primary ml-auto " routerLink="/addCurso" role="button">CRIAR</button> -->
  
      <div id="btnCriar" class="ml-auto">

        <app-add-curso></app-add-curso>
      </div>
  
      
    <br>
    </div>
</nav>
