<nav class="navbar navbar-expand-lg  ">
  <a class="navbar-brand" routerLink="home">
    <span > <img src="/assets/logo_medium.png"></span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse  " id="navbarNavAltMarkup">
    <div class="navbar-nav ">
      <a class="nav-item nav-link active center" routerLink="/cursos">Cursos <span class="sr-only">(current)</span></a>
      <a name="btn-acessar" id="btn-acessar" class="btn btn-primary" routerLink="/addCurso" role="button">CRIAR</a>

      
    </div>
  </div>
</nav>