<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/adaptacao-bootstrap.css">
    <link rel="stylesheet" href="css/prod/style.min.css">


    <title>Cursos - R4S Recrutamento</title>
</head>

<body class="tela-cursos" ng-app="celsoLisboa" ng-controller="cursoController">

    <nav class="cursos row">
        <div class="caixa-logo col-md-4">
            <img class="logo-celso-lisboa" src="image/logo_big.png" alt="logo-celso-lisboa">
        </div>

        <p class="login-text col-md-4">Cursos</p>

        <div class="caixa-criar-curso col-md-4">
            <a href="cursos.html" class="btn-curso btn btn-sm btn-danger" data-toggle="modal" data-target="#largeModal">CRIAR</a>
        </div>

        <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="myModalLabel text-center">Criar Curso</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 offset-md-12 form-group curso-nome">
                            <input type="text" class="form-control" ng-model='novo.nomeCurso' placeholder="Nome do Curso">
                        </div>
                        <div class="col-md-12 offset-md-12 form-group professores-nome">
                            <input type="text" class="form-control" ng-model='novo.nomeProfessor' placeholder="Professores">
                        </div>
                        <div class="col-md-12 offset-md-12 form-group salas-nomes">
                            <input type="text" class="form-control" ng-model='novo.novaSala' placeholder="Salas">
                        </div>
                        <div class="row">
                            <div class="col form-group salas-nomes" maxlength="4">
                                <input type="text" class="form-control" ng-model='novo.horarioInicio' placeholder="Início">
                            </div>
                            <div class="col form-group salas-nomes" maxlength="4">
                                <input type="text" class="form-control" ng-model='novo.horarioFinal' placeholder="Fim">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" ng-click="addCurso(novo.nomeCurso, novo.nomeProfessor, novo.novaSala, novo.horarioInicio, novo.horarioFinal)">
                        <button type="button" class="btn btn-danger col-md-12">SALVAR</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col" ng-repeat="curso in infoCurso track by $index">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="removeCurso(curso.id)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="card-title">{{curso.nome}}</h5>
                        <span class="card-text" ng-repeat="professores in curso.professores track by $index">{{professores.nome}} </span>
                        <p class="card-text legenda">
                            <span class="text-left" ng-repeat="salas in curso.salas">sala {{salas.sala}} </span>
                            <span class="text-right">{{curso.inicio}} às {{curso.fim}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
        </div>
    </nav>

    
    <script src="js/bootstrap/jquery.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/angularjs/angular.min.js"></script>
    <script src="js/cursoController.js"></script>
</body>

</html>