<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/angularjs/angular.min.js"></script>
    <script src="js/script.js"></script>


    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/adaptacao-bootstrap.css">
    <link rel="stylesheet" href="css/style.css">

    <title>R4S Recrutamento - Login</title>
</head>

<body class="container" ng-app="celsoLisboa" ng-controller="loginController">
    <section class="tela-login col-md-12 text-center">
        <img class="logo-celso-lisboa" src="image/logo_big.png" alt="logo-celso-lisboa">
        <p class="login-text">Login</p>

        <div class="col-md-4 offset-md-4 form-group email">
            <input type="text" class="form-control" placeholder="Email" ng-model='form.accessEmail'>
        </div>

        <div class="col-md-4 offset-md-4 form-group senha">
            <input type="password" class="form-control" placeholder="Senha" ng-model='form.accessPassword'>
        </div>

        <a href="#" class="col-md-4 btn btn-lg btn-danger" ng-click="loginProfile(form.accessEmail, form.accessPassword)">ACESSAR</a>
    </section>
</body>

</html>