<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="logo">
    <img alt="Celso Lisboa Logo" src="../assets/img/logo_big.png">
  </div>
  <div class="form form-login">
    <h2>Login</h2>
    <div class="form-email">
      <label for="email">Email</label>
      <input id="email" type="text">
    </div>
    <div class="form-password">
      <label for="senha">Senha</label>
      <input id="senha" type="password">
    </div>
    <button class="btn">enviar</button>
  </div>
</div>
