<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row logo mx-auto">
    <img alt="Celso Lisboa Logo" src="../assets/img/logo_big.png">
  </div>
  <div class="form mx-auto">
    <form>
      <p class="mx-auto">Login</p>
      <div>
        <div class="input form-group">
        <label for="email" class="bmd-label-floating">Email</label>
        <input id="email" class="form-control" type="email">
      </div>
      <div class="input form-group">
        <label for="senha" class="bmd-label-floating">Senha</label>
        <input id="senha" class="form-control" type="password">
      </div>
      <div class="input">
        <button class="btn btn-raised">acessar</button>
      </div>
      </div>
    </form>
  </div>
</div>
