<div class="container">
  <div class="nav">
    <img src="../../assets/img/logo_medium.png" alt="Celso Lisboa Logo">
    <p>Cursos</p>
    <button type="button"
            class="btn btn-raised"
            data-toggle="modal"
            data-target="#modal"
            id="criaCurso"
            #criaCurso>CRIAR</button>
  </div>
  <div class="content">
    <div class="cursos" *ngFor="let curso of cursos">
      <div class="jumbotron curso">
        <p data-toggle="modal" data-target="#modal" (click)="atualizaCurso(curso.id)" id="titulo">{{curso.nome}}</p>

        <div id="professores" data-toggle="modal" data-target="#modal" (click)="atualizaCurso(curso.id)">
          <p class="descricao">Prof
            <span *ngFor="let professor of curso.professores ; last as ultimo">
            {{professor.nome}} <span *ngIf="!ultimo">e Prof.</span>
            </span>
          </p>
        </div>
        <div id="salas" data-toggle="modal" data-target="#modal" (click)="atualizaCurso(curso.id)">
          <p class="descricao">Salas
            <span *ngFor="let sala of curso.salas; last as ultima">
            {{sala.sala}} <span *ngIf="!ultima">e </span>
            </span>
          </p>
        </div>

        <div id="horarios" data-toggle="modal" data-target="#modal" (click)="atualizaCurso(curso.id)">
          <p>{{curso.inicio}} as {{curso.fim}}</p>
        </div>

        <div id="delete">
          <a (click)="deletaCurso(curso.id)"><img src="../../assets/img/close_grey.png" alt="Letra X"></a>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Criar Curso</h5>
        <button (click)="limpaCampos()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 input form-group bmd-form-group"
                 [ngClass]="atualiza ? 'is-filled' : ''">
              <label for="nome" class="bmd-label-floating">Nome do Curso</label>
              <input [value]="novoCurso.nome" (input)="novoCurso.nome = $event.target.value"
                     id="nome"
                     class="form-control"
                     type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 input form-group bmd-form-group">
              <label for="professor" class="bmd-label-floating">Professores</label>
              <select multiple (change)="cadastraProfs($event.target.options)" id="professor" class="form-control">
                <option *ngFor="let prof of professores" [value]=prof.id>{{prof.nome}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 input form-group bmd-form-group">
              <label for="sala" class="bmd-label-floating">Salas</label>
              <select multiple (change)="cadastraSalas($event.target.options)" id="sala" class="form-control">
                <option *ngFor="let sala of salas" [value]=sala.id>{{sala.sala}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 input form-group bmd-form-group"
                  [ngClass]="atualiza ? 'is-filled' : ''">
              <label for="inicio" class="bmd-label-floating">Inicio</label>
              <input [value]="novoCurso.inicio" (input)="novoCurso.inicio = $event.target.value" id="inicio" class="form-control" type="text">
            </div>
            <div class="col-md-6 input form-group bmd-form-group"
                  [ngClass]="atualiza ? 'is-filled' : ''">
              <label for="fim" class="bmd-label-floating">Fim</label>
              <input [value]="novoCurso.fim" (input)="novoCurso.fim = $event.target.value" id="fim" class="form-control" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="cadastraCurso()" type="button" class="btn btn-raised" data-dismiss="modal" aria-label="Close">Salvar</button>
      </div>
    </div>
  </div>
</div>
