
h1,h2,h3,h4,h5,h6{
  font-family: 'roboto-regular', 'arial', sans-serif;
  color: white;
  font-weight: normal;
}

.form-error-message {
  font-family: 'roboto-regular', 'arial', sans-serif;
  color: white;
  display: block;
  font-size: 12px;
  margin-top: -17px;
}

input.ng-dirty.ng-invalid {
  color: red
}
