.main{
    width: 100%;
    min-height: 100vh;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    position:relative;
    z-index: 1;
}

.container {
    width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
  position: relative;
  z-index: 1;   
}

.card-text{
    line-height: 5px;
}