.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-itens {
  max-width: 40%;
}

@media (max-width: 1087px) {
  .login-itens {
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  .login-itens {
    max-width: 80%;
  }
}

@media (max-width: 425px) {
  .login-page {
    align-items: normal;
    .image {
      margin-left: 1.4em;
    }
  }
  .login-itens {
    max-width: 90%;
    margin: 0 auto;
  }
}
