:host {
    position: absolute;
    top: 0.875em;
    right: 0.875em;
}

button {
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform .15s, background-color .15s;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 2em;
    height: 2em;

    &:hover,
    &:focus {
        outline: none;
        transform: scale(1.1);
        background-color: rgba(#777, 0.3);
    }
}