/* You can add global styles to this file, and also import other style files */
@import 'assets/fonts/fonts';

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: $heebo;
}

input {
    border: 0.0625em solid #eeeeee;
    background: transparent;
    color: #eeeeee;
    border-radius: 0.375em;
    padding: 0 1em;
    height: 3.125em;
    font-size: 100%;
    overflow: hidden;
    letter-spacing: 0.0625em;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #eeeeee;
        transition: opacity .1s, transform .15s;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: #eeeeee;
        transition: opacity .1s, transform .15s;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        color: #eeeeee;
        transition: opacity .1s, transform .15s;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: #eeeeee;
        transition: opacity .1s, transform .15s;
    }

    &:focus {
        outline: none;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            opacity: 0;
            transform: translateX(-5%);
        }
        &::-moz-placeholder { /* Firefox 19+ */
            opacity: 0;
            transform: translateX(-5%);
        }
        &:-ms-input-placeholder { /* IE 10+ */
            opacity: 0;
            transform: translateX(-5%);
        }
        &:-moz-placeholder { /* Firefox 18- */
            opacity: 0;
            transform: translateX(-5%);
        }
    }
}

.custom-multiselect {
    position: relative;

    select {
        display: none;
    }

    &__options {
        // position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row wrap;
        background-color: rgba(#000, 0.85);
        width: 100%;
        padding: 0.5em 0;
        z-index: 1;
        border-radius: 0 0 0.625em 0.625em;

        .option {
            flex: 0 0 100%;
            padding: 0 0.75em;
            height: 2.5em;
            cursor: pointer;
            user-select: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .icon {
                margin-right: 0.75em;
                width: 1.5em;
                margin-bottom: -0.25em;
                margin-top: 0.125em;
            }

            &.disabled {
                cursor: not-allowed;
            }

            &:hover:not(.disabled) {
                background-color: #ff0669;
            }

            &.selected {
                color: #ff0669; 

                &:hover:not(.disabled) {
                    color: #fff;
                }
            }
        }
    }

    &__selection {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row wrap;
        padding: 0.5em 0;

        .tag {
            flex: 0 0 auto;
            font-size: 0.75em;
            padding: 0 0.875em;
            margin-right: 0.5em;
            background-color: #444;
            border-radius: 1em;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 2em;

            .btn--close {
                position: static;
                top: auto;
                right: auto;
                font-size: 0.75em;
                margin-left: 0.5em;
                margin-right: -0.5em;

                img {
                    width: 1em;
                }

                &:hover,
                &:focus {
                    background-color: rgba(#ff0669, 0.7);
                    transform: none;
                }
            }
        }
    }
}