/* You can add global styles to this file, and also import other style files */
@import 'assets/fonts/fonts';

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: $heebo;
}

input {
    border: 0.0625em solid #eeeeee;
    background: transparent;
    color: #eeeeee;
    border-radius: 0.375em;
    padding: 0 1em;
    height: 3.125em;
    font-size: 100%;
    overflow: hidden;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #eeeeee;
        transition: opacity .15s, transform .15s;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: #eeeeee;
        transition: opacity .15s, transform .15s;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        color: #eeeeee;
        transition: opacity .15s, transform .15s;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: #eeeeee;
        transition: opacity .15s, transform .15s;
    }

    &:focus {
        outline: none;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            opacity: 0;
            transform: translateX(-5%);
        }
        &::-moz-placeholder { /* Firefox 19+ */
            opacity: 0;
            transform: translateX(-5%);
        }
        &:-ms-input-placeholder { /* IE 10+ */
            opacity: 0;
            transform: translateX(-5%);
        }
        &:-moz-placeholder { /* Firefox 18- */
            opacity: 0;
            transform: translateX(-5%);
        }
    }
}

.btn {
    -webkit-appearance: none;
    border: none;
    background-color: #ff0669;
    color: #fff;
    height: 3.3333em;
    border-radius: 0.4em;
    font-size: 0.9375em;
    display: block;
    width: 100%;
    transition: box-shadow .15s;
    text-transform: uppercase;

    &:hover,
    &:focus {
        box-shadow: -0.1333em 0.1333em 0.6667em 0 rgba(#000, 0.51);
    }
}