<nav class="navbar sticky-top navbar-expand-lg" >
    <div class="container">
    <a class="navbar-brand">
        <img src="./assets/img/logo_medium.png" >
    </a>

    <div class="justify-content-md-center text-white ">
        <h5 class="d-none d-sm-none d-md-block">Cursos</h5>
    </div>
    
    <form class="form-inline mt-2 mt-md-0">
      <button class="btn btn-criar-curso" type="button" (click)="openModal()">
          <span>CRIAR</span> 
      </button>
    </form>
  </div>    
</nav>

