<article>
  <div class="courses">
    <div class="course" *ngFor="let curso of cursos">
      <div class="top">
          <h3>{{curso.nome}}</h3>
          <span class="close"><a (click)="del(curso.id)"><img src="./assets/close_grey.png"></a></span>
      </div>
      <div class="bottom">
        <div class="rooms">
            <p *ngFor="let prof of curso.professores">{{prof.nome}} - </p>
        </div>        
        <div class="rooms">
          <p>sala</p><p *ngFor="let sala of curso.salas"> &nbsp; {{sala.sala}} &nbsp;</p> 
        </div>          
        <p class="right">{{curso.inicio}} às {{curso.fim}}</p>
      </div>
      
    </div>

  </div>
</article>