.head{
    width: 95%;
    margin: 3% auto;
    position: relative;
}
h2{
    display: block;
    float: left;
    width: 81%;
    text-align: center;
    font-weight: 300;
    color: #fff;
}
.btn-dashboard{
    color: #fff;
    text-transform: uppercase;    
    font-size: 0.9em;
    font-weight: 300;
    display: block;
    float: right;
    padding: 0.4em 3%;
    background: #ff0669;
    border-radius: 162px 162px 162px 162px;
    -moz-border-radius: 162px 162px 162px 162px;
    -webkit-border-radius: 162px 162px 162px 162px;
    border: 0px solid #000000;
    cursor: pointer;
}
.btn-dashboard:hover{
    background: #FFFF0B;
    color: #292D2D;
}
@media (max-width: 980px){
    h2{
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        margin-top: 17%;
    }
}
