<div class="custom-multiselect">
  <input class="list-options" #itemSearch [placeholder]="placeholder" (keyup)="searchList(itemSearch.value)" (focus)="searchList(itemSearch.value);">

  <div class="custom-multiselect__options list-options" *ngIf="foundItems">
    <span class="option list-options" *ngFor="let item of foundItems" data-id="{{item.id}}" (click)="toggleTeacher(item.id)" [class.selected]="inArray(item, selectedItems)">
      <span class="icon list-options" *ngIf="inArray(item, selectedItems)">
        <svg aria-hidden="true" data-prefix="fal" data-icon="check-circle" class="svg-inline--fa fa-check-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path class="list-options" fill="currentColor" d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 464c-118.664 0-216-96.055-216-216 0-118.663 96.055-216 216-216 118.664 0 216 96.055 216 216 0 118.663-96.055 216-216 216zm141.63-274.961L217.15 376.071c-4.705 4.667-12.303 4.637-16.97-.068l-85.878-86.572c-4.667-4.705-4.637-12.303.068-16.97l8.52-8.451c4.705-4.667 12.303-4.637 16.97.068l68.976 69.533 163.441-162.13c4.705-4.667 12.303-4.637 16.97.068l8.451 8.52c4.668 4.705 4.637 12.303-.068 16.97z"></path></svg>
      </span>
      {{item[prop]}}
    </span>
    <span class="option disabled" *ngIf="foundItems.length === 0"><em>Não há {{placeholder | lowercase}} com esse nome ou id.</em></span>
  </div>

  <app-close-button [color]="'white'" (click)="clearSearch()" *ngIf="foundItems"></app-close-button>

  <select #selectedTeachers multiple>
    <option *ngFor="let item of teachers" [value]="item.id" [selected]="inArray(item, selectedItems)">{{item[prop]}}</option>
  </select>
</div>
<div class="custom-multiselect__selection" *ngIf="selectedItems && selectedItems.length > 0">
  <app-tag [label]="item[prop]" [id]="item.id" *ngFor="let item of selectedItems" (closeTag)="unselectItem($event)"></app-tag>
</div>
