.App {
  height: 100vh;
  background: url('./images/background.jpg');
}
.container{
	padding: 20px;
}
.logo{
	margin: 0;
}
.header{
	display: flex;
	justify-content: space-between;
}
.modal-title{
	color: #fff;
	font-weight: 400;
	text-align: center;
	margin: 15px auto 35px;
}
.page-title{
	color: #fff;
	font-weight: 400;
	text-align: center;
	margin: 20px auto 20px;
}
.login-title{
	margin: 50px auto 20px;
}
.login{

}
.modal{
	width: 100vw;
	height: 100vh;
	
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.7);
}
.modal-content{
	background-color: #888;
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	padding: 20px;
}
.card-title{
	margin: -25px 0 20px 0;
}
.close-button{
	cursor: pointer;	
	width: 20px;
	height: 20px;
	border: none;
	outline: none;
}
.close-button--modal{
	background: url('./images/close_white.png') no-repeat;
	position: absolute;
	top: 20px;
	right: 20px;
}
.close-button--modal:hover,
.close-button--modal:focus{
	background: url('./images/close_grey.png') no-repeat;
}
.close-button--card{
	position: relative;
	left: calc(100% - 20px);
	background: url('./images/close_grey.png') no-repeat;
}
.close-button--card:hover,
.close-button--card:focus{
	background: url('./images/close_white.png') no-repeat;
}
.grid{
	display: grid;
}
.grid--time-inputs{
	grid-template-columns: minmax(90px, 45%) minmax(90px, 45%);
	grid-column-gap: 10%;
}