<section>
    <div class="cursos">
        <div class="card_box">
            <div class="card" *ngFor="let curso of cursos.cursos">
                <div class="card_header">
                    <span>{{curso.nome}}</span>
                    <a href="#" class="card_close"></a>
                </div>
                <div class="card_body">
                    <div class="card_body_instructor" *ngFor="let professor of curso.professores">
                        <p>{{professor.nome}}</p>
                    </div>
                    <div class="card_body_room_hour">
                        <span *ngFor="let sala of curso.salas">
                            <p>{{sala.sala}}</p>
                        </span>
                        <span>{{curso.inicio}} às {{curso.fim}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->