/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body, html{
    width: 100%;
    height: 100%;
}
.background-fundo{
    width: 100%;
    height: 100%;
    display: table;
    margin:0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/img/fundo-login.jpg');
}
.modal-content {
    margin-top: 40%;
    width: 90%;
}

@media screen and (max-width: 576px){
    .modal-backdrop.show {
        opacity: 1;
        background: #888;
    }
    .modal-content {
        margin-top: 5%;
        border:none;
        width: 100%;
    }
    .mob-0{
        padding: 0 !important;
        margin: 0 !important;
    }
    .logo{
        padding-top: 6% !important;
        margin: 0 !important;
    }
    .left-mob{
        text-align: left;
    }
}
