.header{
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);

  .logo{
    @include flexbox;
    width: 77px;
    height:36px;
    background: url("#{$path-img}/logo_medium.png") no-repeat center center;
  }
}