<section>
    <div class="create_course">
        <div class="create_course_bg"></div>
        <div class="create_course_modal">
            <div class="create_course_modal_header">
                <a href="#" class="modal_close"></a>
            </div>
            <div class="create_course_modal_content">
                <div class="create_course_modal_titulo">Criar Curso</div>
                <div class="input-group">
                    <input id="nome_do_curso" type="text" class="input border-radius" placeholder="Nome do Curso">
                </div>
                <div class="input-group">
                    <input id="professores" type="text" class="input border-radius" placeholder="Professores">
                </div>
                <div class="input-group">
                    <input id="salas" type="text" class="input border-radius" placeholder="Salas">
                </div>
                <div class="input-group d_column_2">
                    <input id="hora_inicio" type="text" class="input border-radius" placeholder="Início">
                    <input id="hora_fim" type="text" class="input border-radius" placeholder="Fim">
                </div>
                <button type="submit" class="btn btn_login btn_radius btn_block">Salvar</button>
            </div>
        </div>
    </div>
</section>