<header class="courses__header">
  <button class="course__add" (click)="addCourse = true">Criar</button>
</header>

<h1>Cursos</h1>

<div class="courses" *ngIf="courses">
  <div class="course" *ngFor="let course of courses">
    <span class="course__name" *ngIf="course.nome">{{course.nome}}</span>

    <span class="course__teachers" *ngIf="course.professores">
      <span *ngFor="let professor of course.professores; let i = index">
        Prof. {{professor.nome}}{{(i === course.professores.length - 1) ? '' : ' | '}}
      </span>
    </span>

    <div class="course__footer">
      <span class="course__rooms" *ngIf="course.salas">
        sala{{(course.salas.length > 1) ? 's ' : ' '}}
        <span *ngFor="let sala of course.salas; let i = index">
          {{sala.sala}}{{(i === course.salas.length - 1) ? '' : ' | '}}
        </span>
      </span>

      <span class="course__time" *ngIf="course.inicio && course.fim">{{course.inicio}} às {{course.fim}}</span>
    </div>

    <button class="course__remove" (click)="deleteCourse(course.id)">X</button>
  </div>
</div>

<div class="course--none" *ngIf="!courses || courses.length === 0">
  Não há cursos para exibir.
</div>

<div class="course__add" *ngIf="addCourse">
  <div class="course__form">
    <input #name>
    <select #professores [(ngModel)]="selectedTeachers">
      <option *ngFor="let teacher in teachers"
        [ngValue]="teacher">
          {{teacher.nome}}
      </option>
    </select>
    <select #rooms [(ngModel)]="selectedRooms">
      <option *ngFor="let room in rooms"
        [value]="room.id">
          {{room.sala}}
      </option>
    </select>
    <input #start>
    <input #end>

    <button class="course__close" (click)="addCourse = false">X</button>
  </div>
</div>