<div class="login">
  <header>
        <h1><a alt="Celso Lisboa" title="Celso Lisboa" href="https://www.celsolisboa.edu.br/">Celso Lisboa</a> </h1>
    </header>
    <article class="form">
      <h3> Login </h3>

      <form (submit)="loginUser($event)">			
        <input type="email" placeholder="E-mail">
        <input type="password" placeholder="Senha">

        <input type="submit" value="Acessar">
      </form>
      <p class="errorForm" *ngIf="notificationForm">{{notificationForm}}</p>	

    </article>	
</div>    